<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.veent.fbevents</string>

  <key>ProgramArguments</key>
  <array>
    <string>NODE_PLACEHOLDER</string>
    <string>SERVER_PLACEHOLDER</string>
  </array>

  <key>WorkingDirectory</key>
  <string>SERVER_DIR_PLACEHOLDER</string>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/tmp/fbevents.log</string>

  <key>StandardErrorPath</key>
  <string>/tmp/fbevents.err</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>NODE_ENV</key>
    <string>production</string>
  </dict>
</dict>
</plist>
